body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: slategray;
    flex-direction: column;
    text-decoration: none;
}

#play {
    height: 25vh;
    width: 50vh;
    font-size: 5vh;
    border: 2px solid;
    border-radius: 20px;
    background:linear-gradient(rgb(56, 56, 56), rgb(151, 151, 151));
}

#play:hover {
    background:linear-gradient(rgb(31, 31, 31), rgb(110, 110, 110));
}

#scoreboard {
    font-size: 3vh;
}